.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textarea {
  padding: 8px;
  margin-bottom: 8px;
}

.correctButton {
  width: fit-content;
  padding: 4px 8px;
  margin: 0 auto;
}