.header {
  height: 64px;
  border-bottom: 1px solid #d9d9e3;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonLink {
  color: #666;
  border: 1px solid #d9d9e3;
  border-radius: 6px;
  padding: 8px;
}